/* NavBar Section */

.navbar-brand {
  font-size: 150%;
}
.nav-item {
  font-size: 120%;
}

/* Home Section */

.mainbody {
  background-color: indianred;
}

.home-tagline {
  text-align: center;
  color: #96351e;
  font-size: 400%;
  padding: 270px 20px 30px 60px;
}

.download-button1{
  margin: 5% 0 5% 25%;
}

.download-button2{
  margin: 5% 0 5% 25%;
}

.Mobile-App {
  margin: 200px 0 50px 120px;
  height: 450px;
  border-radius: 35px;
}

/* Menu Section */

.row {
  width: 100%;
}

.menu-title{
  text-align: center;
}

.MenuItems {
  background-color: antiquewhite;
  padding-bottom: 60px;
}

#Menu {
  padding-top: 60px;
  color: sienna;
}

.col-md-12 {
  padding-left: 55px;
}

.card {
  width: 380px;
  margin-top: 30px;
  margin-left: 12%;
}

.card-img-top {
  width: 380px;
  height: 260px;
}

.card-body{
  background-color: #e3d18a;
}


/* Reviews Section */

#Reviews {
  background-color: #ff5775;
  text-align: center;
}

.review-text{
  padding-top: 60px;
  color: white;
  text-align: center;
}

.carousel-item {
  padding: 5% 14%;
}

.review_image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Address Section */

.address {
  padding-top: 15px;
  line-height: 2;
}

.icons {
  list-style-type: none;
  padding: 20px 0px;
}

.icons img {
  border-radius: 50%;
}

.icons li {
  display: inline;
  padding-right: 20px;
}

/*Contact Section */

.contact-page {
  background-color: antiquewhite;
  padding-bottom: 20px;
}

#Contact {
  padding-top: 60px;
  color: sienna;
  padding-bottom: 15px;
}

/* Footer Section */

footer {
  width: 100%;
  height: 240px;
  background-color: #91091e;
  color: white;
  padding-top: 50px;
}
