.navbar-brand
{
	font-size: 150%;
}
.nav-item
{
	font-size: 120%;
}
.row
{
	width: 100%;
}
.MenuItems
{
	background-color: antiquewhite;
	padding-bottom: 60px;
}
#Menu
{
	padding-top: 60px;
	color: sienna;
}
.col-md-12
{
	padding-left: 55px;
}
.card
{
	width: 380px;
	margin-top: 30px;
	margin-left: 70px;
}
.card-img-top
{
	width: 380px;
	height: 260px;
}
#Reviews
{
	background-color: #ff5775;
	text-align: center;
}
.carousel-item
{
  padding: 5% 14%;
}
.review_image
{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
footer
{
	width: 100%;
	height: 240px;
	background-color: #91091e;
	color: white;
	padding-top: 5px;
}
.Contact img
{
	border-radius: 50%;
}
.Contact ul li
{
	display: inline;
	padding-right: 5px;
}
ul a::hover
{
	background-color: white;
}